#%RAML 1.0
---
title: eLife Sciences API
baseUri: https://api.elifesciences.org/
version: 1.0.0
documentation:
  - title: Welcome
    content: |
        Welcome to the eLife Sciences API. The API is described using [RAML 1.0](http://raml.org/); it is available in [its raw form](api.raml), or as this compiled documentation.
  - title: Licence
    content: |
        Copyright 2016 eLife Sciences. Licensed under the GPLv3.

        This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

        This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

        You should have received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
  - title: Versioning
    content: |
        API endpoints are not versioned, but the body of requests/responses are.

        Content versioning
        ------------------

        Endpoints produce/consume dedicated content type, with the version as a parameter (eg `application/vnd.elife.labs-experiment-list+json;version=1`). These are primarily JSON-based (and described using [JSON Schema](http://json-schema.org/)), but alternative representations may be available.

        This verisoning follows [semantic versioning](http://semver.org/). Note we only use the major version as minor versions are backwards compatabile (so the API will return versions `1` and `2` rather than `1.0`, `1.1`, `2.0` etc).

        You can request a specific version of a response using content negotation (eg `Accept: application/vnd.elife.labs-experiment-list+json;version=1`). The most recent version will always be preferred, so without a `version` parameter on the `Accept` header the latest version will be returned.

        Endpoint versioning
        -------------------

        As the endpoint itself is not versioned, functionality may be removed (including removing support for versions of content). We will try and deprecate first, and avoid removing support where possible.

        When something has been marked as deprecated we will add a message to responses as a the HTTP `Warning` header (a deprecation will always begin with the word 'Deprecation'). For example, `Warning: 299 api.elifesciences.org "Deprecation: 'foo' query string parameter will be removed, use 'bar' instead"`.

resourceTypes:
    base:
        get?: &common
    item:
        type: base
        usage: This resource type should be used for any single item.
        get?:
            responses:
                404:
                    description: |
                        <<resource>> is not found.
                    body:
                        application/problem+json:
                            schema: !include ../dist/model/error.json
                            example: |
                                {
                                    "title": "<<resource>> not found"
                                }
                410:
                    description: |
                        <<resource>> has been removed.
                    body:
                        application/problem+json:
                            schema: !include ../dist/model/error.json
                            example: |
                                {
                                    "title": "<<resource>> removed"
                                }
    collection:
        type: base
        usage: This resourceType should be used for any collection of items.
        get?:

traits:
    paged:
        queryParameters:
            page:
                description: |
                    Page number to retrieve.
                type: integer
                required: false
                default: 1
                minimum: 1
                example: 2
            per-page:
                description: |
                    Number of <<resources | !lowercase>> per page.
                type: integer
                required: false
                default: 20
                minimum: 1
                maximum: 100
                example: 50
            order:
                description: |
                    Ordering direction.
                type: string
                required: false
                default: desc
                enum:
                  - asc
                  - desc
                example: asc
        responses:
            404:
                description: |
                    Page is not found.

                    Note the first page will always return a valid result, even if the list is empty.
                body:
                    application/problem+json:
                        schema: !include ../dist/model/error.json
                        example: |
                            {
                                "title": "Page not found"
                            }
    subjected:
        queryParameters:
            subject:
                description: |
                    Only include <<resources | !lowercase>> with one of the specified subjects.
                type: string
                required: false
                repeat: true
                example: cell-biology

/articles:
    type: collection
    description: |
        Article
    get:
        description: |
            Get a list of articles, sorted by date.
        is:
          - paged: { resources: Articles }
        responses:
            200:
                description: |
                    List of articles, sorted by date.
                body:
                    application/vnd.elife.articles-list+json;version=1:
                        schema: !include model/article-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: |
                                    {
                                        "total": 4,
                                        "items": [
                                            {
                                                "id": "14107",
                                                "version": 1,
                                                "status": "poa",
                                                "type": "research-article",
                                                "doi": "10.7554/eLife.14107",
                                                "title": "Molecular basis for multimerization in the activation of the epidermal growth factor",
                                                "published": "2016-03-28T00:00:00Z",
                                                "volume": 5,
                                                "elocationId": "e14107"
                                            },
                                            {
                                                "id": "09560",
                                                "version": 1,
                                                "status": "vor",
                                                "type": "research-article",
                                                "doi": "10.7554/eLife.09560",
                                                "title": "<i>Homo naledi</i>, a new species of the genus <i>Homo</i> from the Dinaledi Chamber, South Africa",
                                                "published": "2015-09-10T00:00:00Z",
                                                "volume": 4,
                                                "elocationId": "e09560"
                                            }
                                        ]
                                    }
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: |
                                    {
                                        "total": 0,
                                        "items": []
                                    }

    /{id}:
        type:
            item:
                resource: Article
        description: |
            Latest version of an individual article.
        uriParameters:
            id:
                description: |
                    Article ID.
                type: string
        get:
            description: |
                Get an article.
            responses:
                200:
                    description: |
                        Article latest version.
                    body:
                        application/vnd.elife.article-poa+json;version=1:
                            schema: !include ../dist/model/article-poa.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: |
                                        {
                                            "id": "14107",
                                            "version": 1,
                                            "type": "research-article",
                                            "doi": "10.7554/eLife.14107",
                                            "title": "Molecular basis for multimerization in the activation of the epidermal growth factor",
                                            "published": "2016-03-28T00:00:00Z",
                                            "volume": 5,
                                            "elocationId": "e14107",
                                            "copyright": {
                                                "license": "CC-BY-4.0",
                                                "holder": "Huang et al"
                                            }
                                        }
                                complete:
                                    displayName: Complete
                                    value: |
                                        {
                                            "id": "14107",
                                            "version": 1,
                                            "type": "research-article",
                                            "doi": "10.7554/eLife.14107",
                                            "title": "Molecular basis for multimerization in the activation of the epidermal growth factor",
                                            "published": "2016-03-28T00:00:00Z",
                                            "volume": 5,
                                            "issue": 1,
                                            "elocationId": "e14107",
                                            "copyright": {
                                                "license": "CC-BY-4.0",
                                                "holder": "Huang et al"
                                            },
                                            "pdf": "https://elifesciences.org/content/5/e14107.pdf",
                                            "subjects": [
                                                "biochemistry",
                                                "biophysics-structural-biology"
                                            ],
                                            "researchOrganisms": [
                                                "Human",
                                                "Xenopus"
                                            ],
                                            "relatedArticles": [
                                                "14106"
                                            ],
                                            "abstract": {
                                                "doi": "10.7554/eLife.14107.001",
                                                "content": [
                                                    {
                                                        "type": "paragraph",
                                                        "text": "The epidermal growth factor receptor (EGFR) is activated by dimerization, but activation also generates higher-order multimers, whose nature and function are poorly understood. We have characterized ligand-induced dimerization and multimerization of EGFR using single-molecule analysis, and show that multimerization can be blocked by mutations in a specific region of Domain IV of the extracellular module. These mutations reduce autophosphorylation of the C-terminal tail of EGFR and attenuate phosphorylation of phosphatidyl inositol 3-kinase, which is recruited by EGFR. The catalytic activity of EGFR is switched on through allosteric activation of one kinase domain by another, and we show that if this is restricted to dimers, then sites in the tail that are proximal to the kinase domain are phosphorylated in only one subunit. We propose a structural model for EGFR multimerization through self-association of ligand-bound dimers, in which the majority of kinase domains are activated cooperatively, thereby boosting tail phosphorylation."
                                                    }
                                                ]
                                            }
                                        }
                        application/vnd.elife.article-vor+json;version=1:
                            schema: !include model/article-vor.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: |
                                        {
                                            "id": "09560",
                                            "version": 1,
                                            "type": "research-article",
                                            "doi": "10.7554/eLife.09560",
                                            "title": "<i>Homo naledi</i>, a new species of the genus <i>Homo</i> from the Dinaledi Chamber, South Africa",
                                            "published": "2015-09-10T00:00:00Z",
                                            "volume": 4,
                                            "elocationId": "e09560",
                                            "copyright": {
                                                "license": "CC-BY-4.0",
                                                "holder": "Berger et al"
                                            }
                                        }
                                complete:
                                    displayName: Complete
                                    value: |
                                        {
                                            "id": "09560",
                                            "version": 1,
                                            "type": "research-article",
                                            "doi": "10.7554/eLife.09560",
                                            "title": "<i>Homo naledi</i>, a new species of the genus <i>Homo</i> from the Dinaledi Chamber, South Africa",
                                            "published": "2015-09-10T00:00:00Z",
                                            "volume": 4,
                                            "issue": 3,
                                            "elocationId": "e09560",
                                            "copyright": {
                                                "license": "CC-BY-4.0",
                                                "holder": "Berger et al"
                                            },
                                            "pdf": "https://elifesciences.org/content/4/e09560.pdf",
                                            "subjects": [
                                                "genomics-evolutionary-biology"
                                            ],
                                            "researchOrganisms": [
                                                "<i>Homo naledi</i>"
                                            ],
                                            "keywords": [
                                                "<i>Homo naledi</i>",
                                                "hominin",
                                                "Dinaledi Chamber",
                                                "paleoanthropology"
                                            ],
                                            "relatedArticles": [
                                                "09561",
                                                "10627"
                                            ],
                                            "abstract": {
                                                "doi": "10.7554/eLife.09560.001",
                                                "content": [
                                                    {
                                                        "type": "paragraph",
                                                        "text": "<i>Homo naledi</i> is a previously-unknown species of extinct hominin discovered within the Dinaledi Chamber of the Rising Star cave system, Cradle of Humankind, South Africa. This species is characterized by body mass and stature similar to small-bodied human populations but a small endocranial volume similar to australopiths. Cranial morphology of <i>H. naledi</i> is unique, but most similar to early <i>Homo</i> species including <i>Homo erectus</i>, <i>Homo habilis</i> or <i>Homo rudolfensis</i>. While primitive, the dentition is generally small and simple in occlusal morphology. <i>H. naledi</i> has humanlike manipulatory adaptations of the hand and wrist. It also exhibits a humanlike foot and lower limb. These humanlike aspects are contrasted in the postcrania with a more primitive or australopith-like trunk, shoulder, pelvis and proximal femur. Representing at least 15 individuals with most skeletal elements repeated multiple times, this is the largest assemblage of a single species of hominins yet discovered in Africa."
                                                    }
                                                ]
                                            },
                                            "digest": {
                                                "doi": "10.7554/eLife.09560.002",
                                                "content": [
                                                    {
                                                        "type": "paragraph",
                                                        "text": "Modern humans, or <i>Homo sapiens</i>, are now the only living species in their genus. But as recently as 100,000 years ago, there were several other species that belonged to the genus <i>Homo</i>. Together with modern humans, these extinct human species, our immediate ancestors and their close relatives, are collectively referred to as ‘hominins’."
                                                    },
                                                    {
                                                        "type": "paragraph",
                                                        "text": "Now Berger et al. report the recent discovery of an extinct species from the genus <i>Homo</i> that was unearthed from deep underground in what has been named the Dinaledi Chamber, in the Rising Star cave system in South Africa. The species was named <i>Homo naledi;</i> ‘naledi’ means ‘star’ in Sotho (also called Sesotho), which is one of the languages spoken in South Africa."
                                                    },
                                                    {
                                                        "type": "paragraph",
                                                        "text": "The unearthed fossils were from at least 15 individuals and include multiple examples of most of the bones in the skeleton. Based on this wide range of specimens from a single site, Berger et al. describe <i>Homo naledi</i> as being similar in size and weight to a small modern human, with human-like hands and feet. Furthermore, while the skull had several unique features, it had a small braincase that was most similar in size to other early hominin species that lived between four million and two million years ago. <i>Homo naledi</i>'s ribcage, shoulders and pelvis also more closely resembled those of earlier hominin species than those of modern humans."
                                                    },
                                                    {
                                                        "type": "paragraph",
                                                        "text": "The <i>Homo naledi</i> fossils are the largest collection of a single species of hominin that has been discovered in Africa so far and, in a related study, Dirks et al. describe the setting and context for these fossils. However, since the age of the fossils remains unclear, one of the next challenges will be to date the remains to provide more information about the early evolution of humans and their close relatives."
                                                    }
                                                ]
                                            }
                                        }

        /versions:
            type:
                item:
                    resource: Article
            description: |
                Individual article history.
            get:
                description: |
                    Get an article history.
                responses:
                    200:
                        description: |
                            Article history.
                        body:
                            application/vnd.elife.article-history+json;version=1:
                                schema: !include ../dist/model/article-history.v1.json
                                examples:
                                    oneVersion:
                                        displayName: One version
                                        value: |
                                            {
                                                "received": "2015-06-19",
                                                "accepted": "2015-08-04",
                                                "poa": 0,
                                                "vor": 1
                                            }
                                    multipleVersions:
                                        displayName: Multiple versions
                                        value: |
                                            {
                                                "received": "2015-12-29",
                                                "accepted": "2016-03-27",
                                                "poa": 2,
                                                "vor": 1
                                            }

            /{version}:
                type:
                    item:
                        resource: Article version
                description: |
                    Individual article version.
                uriParameters:
                    version:
                        description: |
                            Article version number.
                        type: integer
                        minimum: 1
                get:
                    description: |
                        Get an article.
                    responses:
                        200:
                            description: |
                                Article version.
                            body:
                                application/vnd.elife.article-poa+json;version=1:
                                    schema: !include ../dist/model/article-poa.v1.json
                                    examples:
                                        minimum:
                                            displayName: Minimum
                                            value: |
                                                {
                                                    "id": "14107",
                                                    "version": 1,
                                                    "type": "research-article",
                                                    "doi": "10.7554/eLife.14107",
                                                    "title": "Molecular basis for multimerization in the activation of the epidermal growth factor",
                                                    "published": "2016-03-28T00:00:00Z",
                                                    "volume": 5,
                                                    "elocationId": "e14107",
                                                    "copyright": {
                                                        "license": "CC-BY-4.0",
                                                        "holder": "Huang et al"
                                                    }
                                                }
                                        complete:
                                            displayName: Complete
                                            value: |
                                                {
                                                    "id": "14107",
                                                    "version": 1,
                                                    "type": "research-article",
                                                    "doi": "10.7554/eLife.14107",
                                                    "title": "Molecular basis for multimerization in the activation of the epidermal growth factor",
                                                    "published": "2016-03-28T00:00:00Z",
                                                    "volume": 5,
                                                    "issue": 1,
                                                    "elocationId": "e14107",
                                                    "copyright": {
                                                        "license": "CC-BY-4.0",
                                                        "holder": "Huang et al"
                                                    },
                                                    "pdf": "https://elifesciences.org/content/5/e14107.pdf",
                                                    "subjects": [
                                                        "biochemistry",
                                                        "biophysics-structural-biology"
                                                    ],
                                                    "researchOrganisms": [
                                                        "Human",
                                                        "Xenopus"
                                                    ],
                                                    "relatedArticles": [
                                                        "14106"
                                                    ],
                                                    "abstract": {
                                                        "doi": "10.7554/eLife.14107.001",
                                                        "content": [
                                                            {
                                                                "type": "paragraph",
                                                                "text": "The epidermal growth factor receptor (EGFR) is activated by dimerization, but activation also generates higher-order multimers, whose nature and function are poorly understood. We have characterized ligand-induced dimerization and multimerization of EGFR using single-molecule analysis, and show that multimerization can be blocked by mutations in a specific region of Domain IV of the extracellular module. These mutations reduce autophosphorylation of the C-terminal tail of EGFR and attenuate phosphorylation of phosphatidyl inositol 3-kinase, which is recruited by EGFR. The catalytic activity of EGFR is switched on through allosteric activation of one kinase domain by another, and we show that if this is restricted to dimers, then sites in the tail that are proximal to the kinase domain are phosphorylated in only one subunit. We propose a structural model for EGFR multimerization through self-association of ligand-bound dimers, in which the majority of kinase domains are activated cooperatively, thereby boosting tail phosphorylation."
                                                            }
                                                        ]
                                                    }
                                                }
                                application/vnd.elife.article-vor+json;version=1:
                                    schema: !include ../dist/model/article-vor.v1.json
                                    examples:
                                        minimum:
                                            displayName: Minimum
                                            value: |
                                                {
                                                    "id": "09560",
                                                    "version": 1,
                                                    "type": "research-article",
                                                    "doi": "10.7554/eLife.09560",
                                                    "title": "<i>Homo naledi</i>, a new species of the genus <i>Homo</i> from the Dinaledi Chamber, South Africa",
                                                    "published": "2015-09-10T00:00:00Z",
                                                    "volume": 4,
                                                    "elocationId": "e09560",
                                                    "copyright": {
                                                        "license": "CC-BY-4.0",
                                                        "holder": "Berger et al"
                                                    }
                                                }
                                        complete:
                                            displayName: Complete
                                            value: |
                                                {
                                                    "id": "09560",
                                                    "version": 1,
                                                    "type": "research-article",
                                                    "doi": "10.7554/eLife.09560",
                                                    "title": "<i>Homo naledi</i>, a new species of the genus <i>Homo</i> from the Dinaledi Chamber, South Africa",
                                                    "published": "2015-09-10T00:00:00Z",
                                                    "volume": 4,
                                                    "issue": 3,
                                                    "elocationId": "e09560",
                                                    "copyright": {
                                                        "license": "CC-BY-4.0",
                                                        "holder": "Berger et al"
                                                    },
                                                    "pdf": "https://elifesciences.org/content/4/e09560.pdf",
                                                    "subjects": [
                                                        "genomics-evolutionary-biology"
                                                    ],
                                                    "researchOrganisms": [
                                                        "<i>Homo naledi</i>"
                                                    ],
                                                    "keywords": [
                                                        "<i>Homo naledi</i>",
                                                        "hominin",
                                                        "Dinaledi Chamber",
                                                        "paleoanthropology"
                                                    ],
                                                    "relatedArticles": [
                                                        "09561",
                                                        "10627"
                                                    ],
                                                    "abstract": {
                                                        "doi": "10.7554/eLife.09560.001",
                                                        "content": [
                                                            {
                                                                "type": "paragraph",
                                                                "text": "<i>Homo naledi</i> is a previously-unknown species of extinct hominin discovered within the Dinaledi Chamber of the Rising Star cave system, Cradle of Humankind, South Africa. This species is characterized by body mass and stature similar to small-bodied human populations but a small endocranial volume similar to australopiths. Cranial morphology of <i>H. naledi</i> is unique, but most similar to early <i>Homo</i> species including <i>Homo erectus</i>, <i>Homo habilis</i> or <i>Homo rudolfensis</i>. While primitive, the dentition is generally small and simple in occlusal morphology. <i>H. naledi</i> has humanlike manipulatory adaptations of the hand and wrist. It also exhibits a humanlike foot and lower limb. These humanlike aspects are contrasted in the postcrania with a more primitive or australopith-like trunk, shoulder, pelvis and proximal femur. Representing at least 15 individuals with most skeletal elements repeated multiple times, this is the largest assemblage of a single species of hominins yet discovered in Africa."
                                                            }
                                                        ]
                                                    },
                                                    "digest": {
                                                        "doi": "10.7554/eLife.09560.002",
                                                        "content": [
                                                            {
                                                                "type": "paragraph",
                                                                "text": "Modern humans, or <i>Homo sapiens</i>, are now the only living species in their genus. But as recently as 100,000 years ago, there were several other species that belonged to the genus <i>Homo</i>. Together with modern humans, these extinct human species, our immediate ancestors and their close relatives, are collectively referred to as ‘hominins’."
                                                            },
                                                            {
                                                                "type": "paragraph",
                                                                "text": "Now Berger et al. report the recent discovery of an extinct species from the genus <i>Homo</i> that was unearthed from deep underground in what has been named the Dinaledi Chamber, in the Rising Star cave system in South Africa. The species was named <i>Homo naledi;</i> ‘naledi’ means ‘star’ in Sotho (also called Sesotho), which is one of the languages spoken in South Africa."
                                                            },
                                                            {
                                                                "type": "paragraph",
                                                                "text": "The unearthed fossils were from at least 15 individuals and include multiple examples of most of the bones in the skeleton. Based on this wide range of specimens from a single site, Berger et al. describe <i>Homo naledi</i> as being similar in size and weight to a small modern human, with human-like hands and feet. Furthermore, while the skull had several unique features, it had a small braincase that was most similar in size to other early hominin species that lived between four million and two million years ago. <i>Homo naledi</i>'s ribcage, shoulders and pelvis also more closely resembled those of earlier hominin species than those of modern humans."
                                                            },
                                                            {
                                                                "type": "paragraph",
                                                                "text": "The <i>Homo naledi</i> fossils are the largest collection of a single species of hominin that has been discovered in Africa so far and, in a related study, Dirks et al. describe the setting and context for these fossils. However, since the age of the fossils remains unclear, one of the next challenges will be to date the remains to provide more information about the early evolution of humans and their close relatives."
                                                            }
                                                        ]
                                                    }
                                                }

/blog-articles:
    type: collection
    description: |
        Blog articles
    get:
        description: |
            Get a list of articles, sorted by publication date.
        is:
          - paged: { resources: Articles }
          - subjected: { resources: Articles }
        responses:
            200:
                description: |
                    List of articles, sorted by publication date.
                body:
                    application/vnd.elife.blog-article-list+json;version=1:
                        schema: !include ../dist/model/blog-article-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/blog-article-list/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/blog-article-list/v1/empty.json

    /{id}:
        type:
            item:
                resource: Article
        description: |
            Individual blog article.
        uriParameters:
            id:
                description: |
                    Article ID.
                type: string
        get:
            description: |
                Get an article.
            responses:
                200:
                    description: |
                        Article.
                    body:
                        application/vnd.elife.blog-article+json;version=1:
                            schema: !include ../dist/model/blog-article.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: !include samples/blog-article/v1/minimum.json
                                complete:
                                    displayName: Complete
                                    value: !include samples/blog-article/v1/complete.json

/labs-experiments:
    type: collection
    description: |
        Labs experiments
    get:
        description: |
            Get a list of experiments, sorted by number.
        is:
          - paged: { resources: Experiments }
        responses:
            200:
                description: |
                    List of experiments, sorted by number.
                body:
                    application/vnd.elife.labs-experiment-list+json;version=1:
                        schema: !include ../dist/model/labs-experiment-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/labs-experiment-list/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/labs-experiment-list/v1/empty.json

    /{number}:
        type:
            item:
                resource: Experiment
        description: |
            Individual Labs experiment.
        uriParameters:
            number:
                description: |
                    Experiment number.
                type: integer
                minimum: 1
        get:
            description: |
                Get an experiment.
            responses:
                200:
                    description: |
                        Experiment.
                    body:
                        application/vnd.elife.labs-experiment+json;version=1:
                            schema: !include ../dist/model/labs-experiment.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: !include samples/labs-experiment/v1/minimum.json
                                complete:
                                    displayName: Complete
                                    value: !include samples/labs-experiment/v1/complete.json

/medium-articles:
    type: collection
    description: |
        Medium articles
    get:
        description: |
            Get a list of Medium articles, sorted by publication date.
        responses:
            200:
                description: |
                    List of Medium articles, sorted by publication date.
                body:
                    application/vnd.elife.medium-article-list+json;version=1:
                        schema: !include ../dist/model/medium-article-list.v1.json
                        examples:
                            populated:
                                displayName: Populated list
                                description: |
                                    Demonstration of the list containing articles.
                                value: !include samples/medium-article-list/v1/populated.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty.
                                value: !include samples/medium-article-list/v1/empty.json

/people:
    type: collection
    description: |
        eLife people
    get:
        description: |
            Get a list of people, sorted by surname then given name.
        is:
          - paged: { resources: People }
          - subjected: { resources: People }
        queryParameters:
            type:
                description: |
                    Person type.
                type: string
                required: false
                enum:
                  - director
                  - executive
                  - leadership
                  - reviewing-editor
                  - senior-editor
        responses:
            200:
                description: |
                    List of people, sorted by surname then given name.
                body:
                    application/vnd.elife.person-list+json;version=1:
                        schema: !include ../dist/model/person-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/person-list/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/person-list/v1/empty.json

    /{id}:
        type:
            item:
                resource: Person
        description: |
            Individual person.
        uriParameters:
            id:
                description: |
                    Person ID.
                type: string
        get:
            description: |
                Get a person.
            responses:
                200:
                    description: |
                        Person.
                    body:
                        application/vnd.elife.person+json;version=1:
                            schema: !include ../dist/model/person.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: !include samples/person/v1/minimum.json
                                complete:
                                    displayName: Complete
                                    value: !include samples/person/v1/complete.json

/podcast-episodes:
    type: collection
    description: |
        Podcast episodes
    get:
        description: |
            Get a list of episodes, sorted by number.
        is:
          - paged: { resources: Episodes }
          - subjected: { resources: Episodes }
        responses:
            200:
                description: |
                    List of episodes, sorted by number.
                body:
                    application/vnd.elife.podcast-episode-list+json;version=1:
                        schema: !include ../dist/model/podcast-episode-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/podcast-episode-list/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/podcast-episode-list/v1/empty.json

    /{number}:
        type:
            item:
                resource: Episode
        description: |
            Individual podcast episode.
        uriParameters:
            number:
                description: |
                    Episode number.
                type: integer
                minimum: 1
        get:
            description: |
                Get an episode.
            responses:
                200:
                    description: |
                        Episode.
                    body:
                        application/vnd.elife.podcast-episode+json;version=1:
                            schema: !include ../dist/model/podcast-episode.v1.json
                            examples:
                                minimum:
                                    displayName: Minimum
                                    value: !include samples/podcast-episode/v1/minimum.json
                                complete:
                                    displayName: Complete
                                    value: !include samples/podcast-episode/v1/complete.json

/search:
    type: collection
    description: |
        Search
    get:
        description: |
            Search.
        is:
          - paged: { resources: Results }
          - subjected: { resources: Results }
        queryParameters:
            for:
                description: |
                    Search term
                type: string
                required: true
                example: Plasmodium falciparum
            sort:
                description: |
                    Sorting method.
                type: string
                required: false
                default: relevance
                enum:
                  - relevance
                  - date
            type:
                description: |
                    Only include results of the specified types.
                type: string
                enum:
                  - blog-article
                  - labs-experiment
                  - podcast-episode
                required: false
                repeat: true
        responses:
            200:
                description: |
                    List of results.
                body:
                    application/vnd.elife.search+json;version=1:
                        schema: !include ../dist/model/search.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/search/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/search/v1/empty.json

/subjects:
    type: collection
    description: |
        Subjects
    get:
        description: |
            Get a list of subjects, sorted by name.
        is:
          - paged: { resources: Subjects }
        responses:
            200:
                description: |
                    List of subjects, sorted by number.
                body:
                    application/vnd.elife.subject-list+json;version=1:
                        schema: !include ../dist/model/subject-list.v1.json
                        examples:
                            paginated:
                                displayName: First page
                                description: |
                                    List is split over two pages.
                                value: !include samples/subject-list/v1/first-page.json
                            empty:
                                displayName: Empty list
                                description: |
                                    Demonstration of the list being empty (the first page will always return a valid result).
                                value: !include samples/subject-list/v1/empty.json

    /{id}:
        type:
            item:
                resource: Subject
        description: |
            Individual subject.
        uriParameters:
            id:
                description: |
                    Subject ID.
                type: string
        get:
            description: |
                Get a subject.
            responses:
                200:
                    description: |
                        Subject.
                    body:
                        application/vnd.elife.subject+json;version=1:
                            schema: !include ../dist/model/subject.v1.json
                            example:
                                value: !include samples/subject/v1/complete.json
